<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do usuário</title>
    <link rel="stylesheet" href="../static/Detalhes_usuario.css">
</head>
<body>
    <div class="topo">
        <div class="logo">
            <img src="../static/img/logo.png" alt="logo">
        </div>
        <a href="/Listar_Usuarios" class="botao-link">Voltar</a>
    </div>
    <div class="texto">
        <h1>Detalhes do usuário:</h1>
    </div>
    <br>
    <div class="lista">
        <p>Nome: {{usuarios.nome}}</p>
        <p>Email: {{usuarios.email}}</p>
    </div>


</body>
</html>