body {
    margin: 0;
    padding: 0;
    background-color: white;

}

.topo {
    width: 100%;
    height: 70px;
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 130px;
    height: auto;
}

.botao-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 30px;
}

.clientinhos{
    color: black;
}