* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 10px 20px;
  height: 80px;
}

.logo img {
  width: 150px;
}

.botoes a {
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10px;
}

h1, h2, h3 {
    text-align: center;
    margin-top: 25px;
    color: #000;
    font-weight: 900;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #ffea00;
}

.banner {
     display: flex;

}

.banner-imagem img {
    width: 500px;
    height: 400px;
    border-radius: 5px;
    border: 5px solid black;
    margin-top: 110px;
    margin-left: 75px;

}

.banner-texto h1 {
    position: absolute;
    top: 10%;
    left: 55%;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 0 white;
    font-size: 80px;
    font-weight: 900;
}

.banner-texto h2{
    color: black;
    left: 55%;
    margin-top: 170px;
    margin-left: 80px;
    text-shadow: 3px 3px 0 white;
    width: 600px;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}


.produto {
    width: 160px;
    background: white;
    border: 5px solid #000;
    padding: 8px;
    border-radius: 5px;
}

.produto img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border: 4px solid #000;
}

.produto p {
    margin-top: 10px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.titulo1{
    text-align: center;
    color: black;
}

.titulo_final h4 {
    margin-top: 40px;
    font-size: 22px;
    text-align: center;
    font-weight: 900;
}