<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar-se</title>
    <link rel="stylesheet" href="../static/Cadastro.css">
</head>
<body>
    <div class="topo">
        <div class="logo">
            <img src="../static/img/logo.png" alt="logo">
        </div>
        <a href="/" class="botao-link">Voltar à Tela Inicial</a>
    </div>

    <div class="caixa">
        <form action="/Cadastrar_Usuario" method="POST">
            <div class="titulo">
                <h1>Cadastre-se</h1>
            </div>

            <div class="input">
                <input type="text" name="nome" placeholder="Nome de usuário" required>
            </div>

            <div class="input">
                <input type="email" name="email" placeholder="Seu email" required>
            </div>

            <div class="input">
                <input type="text" name="telefone" placeholder="Telefone" required>
            </div>

            <div class="input">
                <input type="password" name="senha" placeholder="Digite sua senha" required>
            </div>
            <br>

            <div class="msg">
                {{msg}}
            </div>
             <br>
            <button type="submit" class="botao" >Cadastrar</button>
            </form>
        </div>
    </div>
</body>
</html>